{{ define "footer"}}

<!-- Transition -->
<div class="transition">
    <p><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span></p>
    <p class="reverse"><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span><span>Contact</span></p>
</div>

<!-- Contact -->
<div class="contact" id="contact">
    <p>- alexandre.budan@outlook.com -</p>
    <p>- 06.60.23.71.19 -</p>
    <p>- Lyon and Around -</p>
    <p>- Computer science student, passionate about the Back-End, software and the world of AI. -</p>
</div>

<!-- Footer -->
<footer>
    <h2>© Copyright 2024 - All right reserved</h2>
</footer>

{{ end }}